<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>错误</title>
</head>
<body>
    <hgroup>
        <h1>权限错误。</h1>
        <h2>你并未有访问此页面的权限。</h2>
    </hgroup>
</body>
</html>
